html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background-image: url("assets/deadpool2.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#color-change {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 100px;
  right: 80px;
}

#color-change p {
  font-size: 60px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 85px;
  text-transform: uppercase;
}